@charset "utf-8";
/* CSS Document */

a {
	font-family: medievalsharp;
	font-size: 125%;
	color: #000000;
}

h1{
	font-family: 'MedievalSharp', cursive;
}

p{
	font-family: Constantia, 'Lucida Bright', 'DejaVu Serif', Georgia, 'serif'Neue', Helvetica, Arial, 'sans-serif';'
}

